
body {
background-image: url('../img/RD0lLifVzTq-9BupTkq3.jpg');
background-repeat: no-repeat;
background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.magic-ball {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.ball-text {
    font-size: 36px;
    color: white;
    text-align: center;
    background: radial-gradient(circle, #fff 50%, #000);
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-weight: bold;
}
